
.competences-container{
	flex-direction: column;
	width: 100%;
}

.list-competences{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	padding: 10px;
	gap: 10px ;
}

.list-competences li {
	display: flex;
	background-color: #363A4F;
	border-radius: 10px;
	align-items: center;
	gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo-box{
	min-width: 50px;
	min-height: 50px;
	margin-left: 10px;
	background-color: #5B6078;
	border-radius: 10px;

	display: flex;
	justify-content: center;
}
.logo-box svg{
	width: 2em;
}

.competence-descr{
    margin-top: 10px;
	margin-inline: 10px;
	width: 100%;
}

.progressbar-wrapper {
    margin-top: 5px;
    background-color: #5B6078;
    color: white;
    border-radius: 15px;
    width: 100%;
  }

.progressbar{
    background-color: #8aadf4;
    color: black;
    padding-right: 5px;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
	font-weight: 600;

}


.pb10{width: 10% ;}
.pb20{width: 20% ;}
.pb30{width: 30% ;}
.pb40{width: 40% ;}
.pb50{width: 50% ;}
.pb60{width: 60% ;}
.pb70{width: 70% ;}
.pb80{width: 80% ;}
.pb90{width: 90% ;}
.pb100{width:100% ;}