
.domaine-container {
	padding-top: 10px;
	padding-bottom: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	display: flex;
}

.domaine-block {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
}

.domaine-frame {
	padding: 10px;
	background: #363A4F;
	border-radius: 10px;
	align-items: center;
	gap: 5px;
	display: flex;
}

.domaine-logo {
	width: 100px;
	height: 100px;
	position: relative;
	background: #5B6078;
	border-radius: 20px;
}

.domaine-texte {
	width: 80%;
	margin: 1em;
	align-items: center;
	display: flex;
}