
.domaine-container {
	flex-direction: column;
	width: 100%;
}

.domaine-block {
	display: grid;
	width: 100%;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
}

.domaine-frame {
	padding: 10px;
	background: #363A4F;
	border-radius: 10px;
	align-items: center;
	gap: 5px;
	display: flex;
}

.domaine-logo {
	min-width: 80px;
	min-height: 80px;
	position: relative;
	background: #5B6078;
	border-radius: 20px;

	display: flex;
	justify-content: center;
}
.domaine-logo svg{
	width: 3em;
}

.titre-domaine{
	font-weight: bold;
}

.domaine-texte {
	max-width: 60%;
	margin-inline: 10px;
	align-items: center;
	display: flex;
}