/* GLOBAL PARAMETERS */
html, body{
    color: #dfdfdf;
    background-color: #063647;
}

.center-text{
display: flex;
justify-content: center;
}


/* NAV BAR */
.nav-menu{
display: flex;
}

.nav-left{
justify-content: flex-start
}

.nav-right{
justify-content: flex-end;
}

/* AVATAR AND TEXT */

.section-1{
}

.avatar{
    display: flex;
    justify-content: center;
    height: 200px;
    /* border-radius: 50%; */
}

.text{
    display: flex;
justify-content: center;
}




/* PROJECTS */
.section-2{
    background-color: #052D3D;
}

.project{

}

/* SOCIAL */
.section-3{
    background-color: #0E282E;
}