/* GLOBAL PARAMETERS */
html, body{
    color: #dfdfdf;
    background-color: #063647;
}

.center-text{
    text-align: center;
}

/* NAV BAR */
.nav-menu{
    display: flex;
}

.nav-left{
    justify-content: flex-start
}

.nav-right{
    justify-content: flex-end;
}

.nav-logo{
    height: 2em ;
    margin: 1em;
}

.nav-links{
    text-decoration: none;
}

/* AVATAR AND TEXT */

.section-1{
}

.avatar{
    height: 400px;
    border-radius: 100%;
}


/* PROJECTS */
.section-2{
    background-color: #052D3D;
}

.project{

}

/* SOCIAL */
.section-3{
    background-color: #0E282E;
}

.foot-logo{
    height: 4em ;
    margin: 1em;   
}