body{
    background-color: #000000;
}
html{
    width: 100%;
    color: white;
}
.body_orga{
    background: linear-gradient(190deg, #2D496A 34.96%, #04070A 96.88%, #000000 96.89%) no-repeat;
    margin: 1em 1em 1em 0;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.inventaire{
    display: inline-flex;
    flex-direction: row;
}

.body_components_left{
    margin: 1em;
    border-radius: 2em;
    width: 40%;
}

.body_components_right{
    margin: 1em;
    border-radius: 2em;
    width: 100%;
}

.body_list_items{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    float: right;
}


.body_icons{
    margin: 0;
    width: 10em;
    height: 10em;
    filter: invert()  ;
}

.border_left{
    border: 1px solid white
}

.header{
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}

.child1{
    flex-grow: 3;
}

.header_buttons{
    margin: 0;
    color: white;
    padding: 2em;
}

.home_button{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.header_buttons:hover{
    background-color: #2D496A;
}

.footer{
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.footer_buttons{
    color: white;
    padding: 1em;
    margin: 0;

}
